@font-face{
	font-family:Light;
	src:url(../fonts/Light.otf);
}
@font-face{
	font-family:Name;
	src:url(../fonts/Josefin.ttf);
}
/*@font-face{
	font-family:Reserve;
	src:url(../fonts/thin.otf);
}*/

@media screen and (min-width:992px){
	ul.navbar-nav >li:hover:not(.active) a {
		/*padding-top:1px;*/
 		/*border-top:1px solid #999;*/
		-o-transition:all 0.2s linear;
    	-ms-transition:all 0.2s linear;
    	-moz-transition:all 0.2s linear;
    	-webkit-transition:all 0.2s linear;
   		transition:all 0.2s linear;
		/*-webkit-filter: invert(100%);*/
		
		color:#ccc;
	}
	ul.navbar-nav >li:not(.active) a{
		-o-transition:all 0.2s linear;
    	-ms-transition:all 0.2s linear;
    	-moz-transition:all 0.2s linear;
    	-webkit-transition:all 0.2s linear;
   		transition:all 0.2s linear;
	}
	.descr{padding-top:15%}
}
@media screen and (max-width:990px){
	ul.navbar-nav >li:hover:not(.active) a{
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	}
	.descr{padding-top:5%}

}
.jumbotron p{font-size:14px;}
header.panel-heading{padding:0;}
header h2{margin:0;}
.pad{margin-top:20px;}


